**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
x = input("Please enter any string: ")
str_len = len(x)
print(f"The length of a string: {str_len}")

Please enter any string: Hana
The length of a string: 4

In [2]:
x = input("Please enter any string: ")
str_len = 0
for i in x:
    str_len += 1
print(f"The length of a string: {str_len}")

Please enter any string: Hana
The length of a string: 4

In [3]:
x = input("Please enter any string: ")
l = []
for i in x:
    l.append(i)
print(f"The length of a string: {len(l)}")

Please enter any string: Hana
The length of a string: 4

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [4]:
x = input("Please enter any string: ")
if len(x) >= 2 :
    print(x[:2] + x[-2:])
else:
    print("")

Please enter any string: w3
w3w3

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [5]:
x = input("Please enter any string: ")
if len(x) >= 3:
    if x.endswith("ing"):
        print(x + "ly")
    else:    
        print(x + "ing")
else:
    print(x)

Please enter any string: abc
abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [6]:
words = list()
size = int(input("Please enter size of list: "))
for i in range (0, size):
    words.append(input(f"Enter the list element {i+1}: "))
    
def longest_word(list_):
    item_len = 0
    word = str()
    for item in list_:
        if len(item) > item_len:
            word = item
            item_len = len(item)
    print(f"Longest word: {word}, Length of the longest word: {item_len} ")
    
longest_word(words)

Please enter size of list: 3
Enter the list element 1: Hana
Enter the list element 2: Alaa
Enter the list element 3: Elfar
Longest word: Elfar, Length of the longest word: 5

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [7]:
x = input("Please enter any string: ")
print(x[-1] + x[1:-1] + x[0])

Please enter any string: Hana
aanH

In [8]:
list_ = [] 
x = input("Please enter any string: ")
for i in x:
    list_.append(i)
item_1 = list_[-1]
list_[-1] = list_[0]
list_[0] = item_1
x = ''.join(list_)
print(x)

Please enter any string: Hana
aanH

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [9]:
x = input("Please enter any string: ")
new_str = str()
for i in range (0,len(x), 2):
    new_str += x[i]
print(new_str)

Please enter any string: abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [10]:
sentence = "amr and ahmed are frindes but amr is the tallest"
list_ = sentence.split(' ')
set_ = set(list_)
for i in set_:
    print(f"{i} : {list_.count(i)}")

but : 1
and : 1
the : 1
frindes : 1
are : 1
tallest : 1
is : 1
amr : 2
ahmed : 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [11]:
x = input("Please enter any string: ")
print(f"upper case: {x.upper()} \nLower case: {x.lower()}")

Please enter any string: Hana
upper case: HANA
Lower case: hana

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [12]:
x = input("Please enter any string: ")
def reverse_str(string):
    if len(string) % 4 == 0:
        return string[::-1]
reverse_str(x)

Please enter any string: Hana

'anaH'

**10- Write a Python program to remove a newline in Python

In [13]:
my_string = "Hello \nworld\n"
new_string = ''.join(my_string.split('\n'))
print(new_string)

Hello world

**11-Write a Python program to check whether a string starts with specified characters

In [14]:
x = "Hello World"
x.startswith("Hello")

True

**12- Write a Python program to add prefix text to all of the lines in a string

In [15]:
x = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
new_str = []
list_ = x.splitlines()
for i in list_:
    new_str.append('Hello ')
    new_str.append(i)
    new_str.append('\n')
new_str = ''.join(new_str)
print(new_str)

Hello Lorem ipsum dolor sit amet,
Hello consectetur adipiscing elit,
Hello sed do eiusmod tempor incididunt
Hello ut labore et dolore magna aliqua.

**13-Write a Python program to print the following numbers up to 2 decimal places

In [16]:
x = round(5.76543, 2)
print(x)

5.77

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [17]:
x = round(-5.76543, 2)
if x > 0:
    print(f"+{x}")
else:
    print(x)

-5.77

In [18]:
x = round(5.76543, 2)
print(f"{x:+}")

+5.77

**15-Write a Python program to display a number with a comma separator

In [19]:
x = 1000000
print(f"{x:,}")

1,000,000

**16-Write a Python program to reverse a string using 2 ways

In [20]:
x = "Hana"
print(x[::-1])

anaH

In [21]:
x = "Hana"
list_ = list(x)
list_.reverse()
new_str = ''.join(list_)
new_str

'anaH'

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [22]:
string = "Hello"
set_ = set(string)
d = dict()
for i in set_:
    if string.count(i) > 1:
        d[i] = string.count(i) 
print(d)

{'l': 2}

**18-Write a Python program to find the first non-repeating character in a given string

In [23]:
string = "Hello"
set_ = set(string)
d = dict()
for i in set_:
    if string.count(i) == 1:
        d[i] = string.count(i)
        break
if len(d) == 0:
    print("All characters are repeated")
else:
    print(d)

{'H': 1}

**19-Write a Python program to remove spaces from a given string

In [24]:
x = "He llo Wor ld "
x.replace(" ","")

'HelloWorld'

**20-Write a Python program to count the number of non-empty substrings of a given string

In [25]:
string = 'Hello'
str_len = len(string); 
print("Number of substrings:",int(str_len * (str_len + 1) / 2))

Number of substrings: 15

**21-write a Python program to swap first and last element of any list.

In [26]:
list_ = ['python', 'C++', 'C#' , 'Java']
list_[0], list_[-1] = list_[-1], list_[0]
list_

['Java', 'C++', 'C#', 'python']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [27]:
list_ = [23, 65, 19, 90]
pos1, pos2  = 1, 3
list_[pos1-1], list_[pos2-1] = list_[pos2-1], list_[pos1-1]
list_

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [28]:
list_ = [10, 20, 30]

In [29]:
# 1. Find the Length of a List Using len() Function
len(list_)

3

In [30]:
# 2. Find the Length of a List Using Naive Method
list_len = 0
for i in list_:
    list_len += 1
list_len

3

In [31]:
# 3. Find the Length of a List Using length_hint() Method
from operator import length_hint
list_len_hint = length_hint(list_)
list_len_hint

3

In [32]:
# 4. Find the Length of a List Using sum() Function
list_len = sum(1 for i in list_)
list_len

3

In [33]:
# 5. Find the Length of a List Using a List Comprehension
length = sum(1 for _ in list_)
length

3

In [34]:
# 6. Find the Length of a List Using Recursion
def count_elements_recursion(lst):
    if not lst:
        return 0
    return 1 + count_elements_recursion(lst[1:])

print("The length of the list is:", count_elements_recursion(list_))

The length of the list is: 3

In [35]:
# 7. Find the Length of a List Using enumerate() function
s = 0
for i, a in enumerate(list_):
    s += 1
print(s)

3

In [36]:
# 8. Find the Length of a List Using Collections
from collections import Counter
list_len = sum(Counter(list_).values())
list_len

3

**24-write a Python code to find the Maximum number of list of numbers.

In [37]:
lst = [20, 50, 100, 10, 30]
max(lst)

100

**25-write a Python code to find the Minimum number of list of numbers.

In [38]:
lst = [20, 50, 100, 10, 30]
min(lst)

10

**26-search for if an elem is existing in list

In [39]:
lst = [20, 50, 100, 10, 30]
if 20 in lst:
    print('Yes')
else:
    print('No')

Yes

**27- clear python list using different ways

In [40]:
lst = [20, 50, 100, 10, 30]
lst.clear()
lst

[]

In [41]:
lst = [20, 50, 100, 10, 30]
del lst[:]
lst

[]

In [42]:
lst = [20, 50, 100, 10, 30]
for i in range (0,len(lst)):
    lst.pop()
lst

[]

In [43]:
lst = [20, 50, 100, 10, 30]
lst = []
lst

[]

In [44]:
lst = [20, 50, 100, 10, 30]
lst *= 0
lst

[]

In [45]:
lst = [20, 50, 100, 10, 30]
lst = lst[:0]
lst

[]

**28-remove duplicated elements from a list

In [46]:
lst = [20, 50, 100, 10, 100, 50]
set_ = set(lst)
lst = list(set_)
lst

[100, 50, 10, 20]

In [47]:
lst = [20, 50, 100, 10, 100, 50]
list_ = []
for i in lst:
    if i not in list_:
        list_.append(i)
lst = list_
lst

[20, 50, 100, 10]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [48]:
test_list = ['Gfg', 3, 'is', 8]
key_list = ["name", "id"]
n = len(test_list)
out = []
for i in range(0, n, 2):
    out.append({key_list[0]: test_list[i], key_list[1] : test_list[i + 1]})
out

[{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [49]:
lst = [20, 50, 100, 10, 100, 50]
len(set(lst))

4

In [50]:
lst = [20, 50, 100, 10, 100, 50]
list_ = []
for i in lst:
    if i not in list_:
        list_.append(i)
len(list_)

4

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [51]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
k = 3
res = [] 
for i in test_list: 
    freq = test_list.count(i) 
    if freq > k and i not in res: 
        res.append(i)
res

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [5]:
lst = [1, 2, 2, 3, 4, 5]
new_lst = [] 
for i in range(1, len(lst)):
    new_lst.append(max(lst[i], lst[i-1]))
for j in new_lst :
    print(j, end =" ")

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [52]:
lst = [1, 2, 3] 
for i in range(len(lst)): 
    for j in range(len(lst)): 
        for k in range(len(lst)): 
            if (i!=j and j!=k and i!=k): 
                print(lst[i], lst[j], lst[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [1]:
lst = [1, 2, 3] 
list_ = list()
for i in range(len(lst)): 
    list_.append([lst[i]])
    for j in range(len(lst)): 
        if (i!=j):
            list_.append([lst[i],lst[j]])   
        for k in range(len(lst)): 
            if (i!=j and j!=k and i!=k): 
                list_.append([lst[i], lst[j], lst[k]])
print(list_)

[[1], [1, 2], [1, 2, 3], [1, 3], [1, 3, 2], [2], [2, 1], [2, 1, 3], [2, 3], [2, 3, 1], [3], [3, 1], [3, 1, 2], [3, 2], [3, 2, 1]]

In [8]:
test_list = [1, 2, 3]
result = []
for i in range(len(test_list)):
    for j in range(i + 1, (len(test_list)) + 1):
        result.append(test_list[i:j])
print(result)

[[1], [1, 2], [1, 2, 3], [2], [2, 3], [3]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [64]:
list_1 = ["a","b"]
list_2 = [1,2]
new_lst1, new_lst2, res = [], [], []
for i, j in zip(list_1, list_2):
    new_lst1.append((i,j))
list_2.reverse()
for i, j in zip(list_1, list_2):
    new_lst2.append((i,j))
res.append(new_lst1)
res.append(new_lst2)
print(res)

[[('a', 1), ('b', 2)], [('a', 2), ('b', 1)]]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [13]:
lst = [1, 1, 2, 3, 4, 5, 1, 2, 1]
ele = 1
result  = []
for i in lst:
    if i != ele:
        result.append(i)
print(result)

[2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [56]:
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
new_lst = []
for i in list2:
    new_lst.append(list1[i])
print(new_lst)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [74]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
k = 5
n = 2
res = []
for i in test_list:
    if i.count(k) == n:
        res.append(i)
res

[(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [91]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

def sort(array, column_index):
    sort_by_column = lambda x: x[column_index]
    sorted_array = sorted(array, key=sort_by_column)
    return sorted_array

sorted_array_by_column_0 = sort(array, 0)
sorted_array_by_column_1 = sort(array, 1)
sorted_array_by_column_2 = sort(array, 2)
print("Sorted array specific to column 0:", sorted_array_by_column_0)
print("Sorted array specific to column 1:", sorted_array_by_column_1)
print("Sorted array specific to column 2:", sorted_array_by_column_2)

Sorted array specific to column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [59]:
dict_ = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
sorted_dict = dict(sorted(dict_.items()))
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [60]:
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
k = 7
keys = list(test_dict.keys())

for elem in keys:
    if type(test_dict[elem]) == int:
        if test_dict[elem] >= k:
            del test_dict[elem]
print(test_dict)

{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [61]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

dic1.update(dic2)
dic1.update(dic3)

print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [62]:
dict_ = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
for x, y in dict_.items():
      print(x, y)

1 10
2 20
3 30
4 40
5 50
6 60

**44- Write a Python script to merge two Python dictionaries

In [5]:
dic1={1:10, 2:20}
dic2={3:30, 4:40} 
for i in dic2.keys():
    dic1[i] = dic2[i]
dic1

{1: 10, 2: 20, 3: 30, 4: 40}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [64]:
dict_ = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
print(max(dict_.values()))
print(min(dict_.values()))

60
10

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [65]:
dict_ = {'c1': 'Red', 'c2': 'Green', 'c3': None}
keys = list(dict_.keys())
for elem in keys:
    if not dict_[elem]:
         del dict_[elem]
dict_

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [66]:
tuple_ = (10, 20, 30, 40)
for i in tuple_:
    print(i)

10
20
30
40

**48-Write a Python program to unpack a tuple into several variables

In [67]:
tuple_ = (10, 20, 30, 40)
x, y, z, e = tuple_
print(x)
print(y)
print(z)
print(e)

10
20
30
40

**49-Write a Python program to add an item to a tuple

In [68]:
tuple_ = (10, 20, 30, 40)
tuple_ += (50,)
tuple_

(10, 20, 30, 40, 50)

**50-Write a Python program to convert a tuple to a string

In [20]:
tuple_ = ('H', 'e', 'l', 'l', 'o')
string = ''.join(tuple_)    
string

'Hello'

**51-Write a Python program to convert a list to a tuple

In [70]:
list_ = [10, 20, 30, 40]
tuple_ = tuple(list_)
tuple_

(10, 20, 30, 40)

**52-Write a Python program to reverse a tuple

In [71]:
tuple_ = ('H', 'e', 'l', 'l', 'o')
list_ = list(tuple_)
list_.reverse()
tuple_ = tuple(list_)
print(tuple_)

('o', 'l', 'l', 'e', 'H')

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [72]:
list_ = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]  
new_lst = []
for i in range(len(list_)):
    new_lst.append(list(list_[i]))
    new_lst[i][-1] = 100
    new_lst[i] = tuple(new_lst[i])
print(new_lst)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [73]:
string = 'python 3.0'
tuple_ = tuple()
for i in string:
    if i != ' ':
        tuple_ += (i,)
tuple_

('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [114]:
tuple_ = ((1, 2, 3), (4, 5, 6))
numbers = 0
summation = 0
for i in tuple_:
    for j in i:
        summation += j
        numbers += 1
average = summation / numbers
print(average)

3.5

**56-Write a Python program to add member(s) to a set.

In [99]:
s = {1, 5, 6, 10, 8, 7}
s.add(2)
s

{1, 2, 5, 6, 7, 8, 10}

In [76]:
s = {1, 5, 6, 10, 8, 7}
s.update((2,100))
s

{1, 2, 5, 6, 7, 8, 10, 100}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [77]:
s = {1, 5, 6, 10, 8, 7}
s.remove(5)
s

{1, 6, 7, 8, 10}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [78]:
s1 = {10, 2, 5, 9, 8}
s2 = {1, 5, 9, 3, 12}
intersection = s1.intersection(s2)
union = s1.union(s2)
difference = s1.difference(s2)
symmetric_dif = s1.symmetric_difference(s2) 
print(f"intersection of two sets: {intersection}")
print(f"Union of two sets: {union}")
print(f"Difference of two sets: {difference}")
print(f"Symmetric difference of two sets: {symmetric_dif}")

intersection of two sets: {9, 5}
Union of two sets: {1, 2, 3, 5, 8, 9, 10, 12}
Difference of two sets: {8, 2, 10}
Symmetric difference of two sets: {1, 2, 3, 8, 10, 12}

**59-Write a Python program to find the maximum and minimum values in a set

In [79]:
s1 = {10, 2, 5, 9, 8}
print(f"Maximum value in a set: {max(s1)}")
print(f"Minimum value in a set: {min(s1)}")

Maximum value in a set: 10
Minimum value in a set: 2

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [3]:
list_ = [1, 2, 5, 10, 7, 3, 9]
result = []
number = 10
for i in list_:
    for j in list_:
        if i != j:
            if i + j == number:
                result.append((i,j))
    list_.remove(i)
result

[(1, 9), (7, 3)]